Extraction des données

In [208]:
import pandas as pd

# Lire le fichier Excel "DataSet Tunisiar"
excel_data_Tunisair = pd.read_excel(r'C:\Users\USER\OneDrive\Desktop\Projet ED\DataSet Tunisiar.xlsx')

# Afficher les premières lignes
print(excel_data_Tunisair.head().to_string(index=False))

 Flight_ID  Flight_Number Departure_Station Arrival_Station       Date  Jour  Mois  Année Scheduled_Departure Actual_Departure Scheduled_Arrival Actual_Arrival  Delay_Minute        Delay_Reason  Cancelled  Diverted AircraftType TailNumber  Distance  Passengers_Number_economy  Passengers_Number_PREMeconomy  Passengers_Number_Business  Passengers_Number_FirstClass ID_FlightType
         1           4558               CMN             TUN 2023-01-01     1     1   2023               08:00            08:25             12:11          12:19             8             Weather       True     False   Boeing 737     N71066      1031                         65                             24                           7                             4            F1
         2           8021               MXP             TUN 2023-01-01     1     1   2023               10:25            10:41             13:25          13:27             2 Air Traffic Control       True      True  Airbus A320     N22657      1006                         27                              5                          13                             6            F2
         3           7520               TUN             IST 2023-01-01     1     1   2023               16:53            17:05             17:53          18:07            14             Weather       True      True   Boeing 737     N95611      2980                         63                             23                           8                             7            F3
         4           2046               DJE             NTE 2023-01-01     1     1   2023               14:44            15:04             18:44          18:34           -10                 NaN      False     False   Boeing 777     N90029      1408                         53                             25                          10                             7            F4
         5           6049               TUN             ALG 2023-01-01     1     1   2023               01:51            02:08             05:51          06:15            24 Air Traffic Control      False      True   Boeing 737     N27417      2298                        124                              6                          15                             1            F5

In [209]:
import pandas as pd

# Lire le fichier Excel "Type_Vols"
excel_data_TypeVols = pd.read_excel(r'C:\Users\USER\OneDrive\Desktop\Projet ED\Type_Vols.xlsx')

# Afficher les premières lignes
print(excel_data_TypeVols.head().to_string(index=False))

ID_FlightType   Flight_Type Flight_status
           F1 International        Annulé
           F2 International        Annulé
           F3 International        Annulé
           F4 International     à l heure
           F5 International       Retardé

In [210]:
import pandas as pd

# Lire le fichier json "Airports"
json_data_Airports = pd.read_json(r'C:\Users\USER\OneDrive\Desktop\Projet ED\Airports.json')
print(json_data_Airports.columns)

# Afficher les premières lignes
print(json_data_Airports.head().to_string(index=False))

Index(['airports'], dtype='object')
                                                                                          airports
     {'Code': 'TBJ', 'Airport_Name': 'Tabarka-Aïn Draham Airport', 'Airport_country': '  Tunisia'}
    {'Code': 'KRT', 'Airport_Name': 'Khartoum International Airport', 'Airport_country': ' Sudan'}
                    {'Code': 'LIL', 'Airport_Name': 'Lille Airport', 'Airport_country': ' France'}
{'Code': 'CMN', 'Airport_Name': 'airoport Mohammed V de Casablanca', 'Airport_country': ' Marroc'}
        {'Code': 'MXP', 'Airport_Name': 'airoport de Milan Malpensa', 'Airport_country': 'Italie'}

In [ ]:
pip install pyodbc

In [211]:
import pyodbc

# Chemin vers le fichier Access
db_path = r"C:\Users\USER\OneDrive\Desktop\Projet ED\DB_Type_Classe.accdb"

# Chaîne de connexion (Microsoft Access ODBC Driver)
conn_str = (
    r"DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};"
    f"DBQ={db_path};"
)

# Connexion à la base de données
conn_Access = pyodbc.connect(conn_str)
print("Connexion réussie à la base de données Access.")
    
# Créer un curseur
cursor_classes = conn_Access.cursor()

# Lire les données depuis une table
table_name = "prices"  
query = f"SELECT * FROM {table_name}"
cursor_classes.execute(query)

# Afficher les résultats
#La méthode fetchall() est utilisée pour récupérer toutes les lignes d'un résultat de requête SQL sous forme de liste
for row in cursor_classes.fetchall():
    print(row)

Connexion réussie à la base de données Access.
(1.0, 'CMN', 377.0, 395.0, 410.0, 478.0)
(2.0, 'MXP', 407.0, 476.0, 510.0, 590.0)
(3.0, 'TLS', 612.0, 688.0, 720.0, 800.0)
(4.0, 'IST', 665.0, 700.0, 759.0, 810.0)
(5.0, 'ORY', 479.0, 500.0, 566.0, 602.0)
(6.0, 'BRU', 487.0, 521.0, 598.0, 623.0)
(7.0, 'ABJ', 820.0, 875.0, 900.0, 978.0)
(8.0, 'VCE', 402.0, 472.0, 540.0, 596.0)
(9.0, 'AMS', 562.0, 570.0, 622.0, 697.0)
(10.0, 'FRA', 605.0, 678.0, 874.0, 920.0)
(11.0, 'BCN', 505.0, 546.0, 608.0, 686.0)
(12.0, 'JED', 814.0, 879.0, 960.0, 1060.0)
(13.0, 'ALG', 292.0, 339.0, 400.0, 4459.0)
(14.0, 'LIS', 734.0, 802.0, 910.0, 1010.0)
(15.0, 'SXB', 701.0, 786.0, 875.0, 960.0)
(16.0, 'LYS', 459.0, 502.0, 600.0, 706.0)
(17.0, 'OUA', 1087.0, 1189.0, 1400.0, 1689.0)
(18.0, 'LGW', 758.0, 805.0, 866.0, 974.0)
(19.0, 'BEY', 781.0, 806.0, 899.0, 958.0)
(20.0, 'NCE', 572.0, 611.0, 698.0, 724.0)
(21.0, 'OPO', 714.0, 788.0, 865.0, 905.0)
(22.0, 'MRS', 547.0, 599.0, 642.0, 703.0)
(23.0, 'DUS', 569.0, 602.0, 698.0, 733.0)
(24.0, 'FCO', 264.0, 299.0, 368.0, 419.0)
(25.0, 'CDG', 493.0, 577.0, 642.0, 732.0)
(26.0, 'NKC', 714.0, 788.0, 852.0, 926.0)
(27.0, 'NTE', 622.0, 708.0, 799.0, 876.0)
(28.0, 'ZRH', 722.0, 785.0, 862.0, 917.0)
(29.0, 'GVA', 914.0, 1214.0, 258.0, 730.0)
(30.0, 'OUD', 890.0, 982.0, 690.0, 838.0)
(31.0, 'MUC', 913.0, 526.0, 745.0, 763.0)
(32.0, 'SXF', 955.0, 390.0, 1201.0, 341.0)
(33.0, 'HAM', 1174.0, 594.0, 753.0, 476.0)
(34.0, 'NDR', 789.0, 963.0, 953.0, 986.0)
(35.0, 'CAI', 422.0, 1112.0, 1234.0, 927.0)
(36.0, 'BEG', 1283.0, 744.0, 724.0, 759.0)
(37.0, 'VIE', 580.0, 298.0, 686.0, 845.0)
(38.0, 'ORN', 1028.0, 706.0, 501.0, 356.0)
(39.0, 'MAD', 278.0, 949.0, 325.0, 782.0)
(40.0, 'TOE', 1155.0, 511.0, 655.0, 545.0)
(41.0, 'BKO', 846.0, 1257.0, 529.0, 339.0)
(42.0, 'DKR', 1059.0, 858.0, 480.0, 1084.0)
(43.0, 'KGL', 1058.0, 817.0, 676.0, 1169.0)
(44.0, 'BLQ', 1045.0, 1074.0, 1119.0, 589.0)
(45.0, 'MLA', 315.0, 1146.0, 709.0, 324.0)
(46.0, 'AHU', 724.0, 1274.0, 1291.0, 825.0)
(47.0, 'LHR', 1055.0, 1234.0, 343.0, 1116.0)
(48.0, 'BOD', 321.0, 650.0, 686.0, 531.0)
(49.0, 'PRG', 765.0, 742.0, 891.0, 820.0)
(50.0, 'LJU', 775.0, 353.0, 1293.0, 620.0)
(51.0, 'SVO', 1026.0, 1018.0, 731.0, 1194.0)
(52.0, 'MED', 836.0, 1278.0, 496.0, 927.0)
(53.0, 'BUD', 697.0, 1236.0, 374.0, 1139.0)
(54.0, 'ARN', 834.0, 1283.0, 1001.0, 1034.0)
(55.0, 'CPH', 739.0, 515.0, 1072.0, 1133.0)
(56.0, 'CRL', 289.0, 641.0, 1110.0, 1149.0)
(57.0, 'OST', 1188.0, 304.0, 687.0, 1158.0)
(58.0, 'TNG', 396.0, 634.0, 330.0, 1141.0)
(59.0, 'NAP', 745.0, 520.0, 1111.0, 593.0)
(60.0, 'BRQ', 792.0, 1011.0, 967.0, 256.0)
(61.0, 'OSR', 346.0, 1062.0, 806.0, 375.0)
(62.0, 'YUL', 612.0, 1248.0, 349.0, 1140.0)
(63.0, 'NIM', 418.0, 435.0, 903.0, 703.0)
(64.0, 'TMR', 484.0, 678.0, 687.0, 570.0)
(65.0, 'JIB', 638.0, 1167.0, 1137.0, 471.0)
(66.0, 'CGN', 410.0, 1161.0, 391.0, 998.0)
(67.0, 'EBL', 962.0, 548.0, 296.0, 1230.0)
(68.0, 'BJA', 1116.0, 260.0, 1262.0, 863.0)
(69.0, 'AYT', 1038.0, 1074.0, 1144.0, 718.0)
(70.0, 'RAK', 1064.0, 368.0, 1268.0, 394.0)
(71.0, 'LFW', 1275.0, 1267.0, 764.0, 1252.0)
(72.0, 'DJE', 181.0, 209.0, 295.0, 307.0)
(73.0, 'SFA', 120.0, 185.0, 203.0, 243.0)
(74.0, 'NBE', 110.0, 122.0, 168.0, 192.0)
(75.0, 'GAF', 158.0, 176.0, 203.0, 261.0)
(76.0, 'GAE', 142.0, 185.0, 203.0, 225.0)
(77.0, 'TUN', 140.0, 184.0, 205.0, 246.0)
(78.0, 'MIR', 142.0, 178.0, 199.0, 218.0)
(79.0, 'TOE', 187.0, 206.0, 285.0, 349.0)
(80.0, 'TBJ', 122.0, 183.0, 236.0, 287.0)
(81.0, 'LIL', 356.0, 388.0, 458.0, 609.0)
(82.0, 'PSA', 412.0, 487.0, 569.0, 614.0)
(83.0, 'KRT', 330.0, 398.0, 472.0, 564.0)

Transformation des données

Filtation des colonnes inutiles

In [212]:
import pandas as pd

# Colonnes à supprimer
colonnes_a_supprimer = [
    'Actual_Departure', 'Actual_Arrival',
    'Cancelled', 'Diverted', 'AircraftType', 'TailNumber', 'Distance'
]

# Vérifier si les colonnes à supprimer existent dans le DataFrame avant de les supprimer
colonnes_existantes = [col for col in colonnes_a_supprimer if col in excel_data_Tunisair.columns]
if colonnes_existantes:
    excel_data_Tunisair = excel_data_Tunisair.drop(columns=colonnes_existantes)
    print(f"filtration terminée. Les données modifiées ont été sauvegardées dans 'DataSet Tunisiar.xlsx'.")
else:
    print("Aucune des colonnes spécifiées n'existe dans le DataFrame.")

# Afficher les premières lignes après suppression
print(excel_data_Tunisair.head().to_string(index=False))

filtration terminée. Les données modifiées ont été sauvegardées dans 'DataSet Tunisiar.xlsx'.
 Flight_ID  Flight_Number Departure_Station Arrival_Station       Date  Jour  Mois  Année Scheduled_Departure Scheduled_Arrival  Delay_Minute        Delay_Reason  Passengers_Number_economy  Passengers_Number_PREMeconomy  Passengers_Number_Business  Passengers_Number_FirstClass ID_FlightType
         1           4558               CMN             TUN 2023-01-01     1     1   2023               08:00             12:11             8             Weather                         65                             24                           7                             4            F1
         2           8021               MXP             TUN 2023-01-01     1     1   2023               10:25             13:25             2 Air Traffic Control                         27                              5                          13                             6            F2
         3           7520               TUN             IST 2023-01-01     1     1   2023               16:53             17:53            14             Weather                         63                             23                           8                             7            F3
         4           2046               DJE             NTE 2023-01-01     1     1   2023               14:44             18:44           -10                 NaN                         53                             25                          10                             7            F4
         5           6049               TUN             ALG 2023-01-01     1     1   2023               01:51             05:51            24 Air Traffic Control                        124                              6                          15                             1            F5

Filtration des lignes dans le fichier DataSet Tunisair

conservation des lignes dont les aéroports de départ sont situées en Tunisie

In [213]:
import pandas as pd
stations_Deaprt_autorisees = ['TUN', 'DJE', 'SFA', 'NBE', 'GAF', 'GAE','MIR','TBJ','TOE']
 
#conservation des lignes dont les stations de départ se trouvent dans la Tunisie
if ('Departure_Station' in excel_data_Tunisair.columns):
  excel_data_Tunisair = excel_data_Tunisair[excel_data_Tunisair['Departure_Station'].isin(stations_Deaprt_autorisees)]
  #La méthode isin produit une série booléenne où chaque ligne est marquée comme True si la valeur de Departure_Station est dans la liste stations_autorisees.
  #sélectionne uniquement les lignes où la condition est True
  print(f"filtartion terminée. Les données modifiées ont été sauvegardées dans 'DataSet Tunisiar.xlsx'.")

else:
  raise ValueError("La colonne 'Departure_Station' n'existe pas dans le fichier DataSet Tunisair.")

filtartion terminée. Les données modifiées ont été sauvegardées dans 'DataSet Tunisiar.xlsx'.

Filtration des lignes dans le fichier Type_Vols

conservation des lignes dont les aéroports de départ sont situées en Tunisie

In [214]:
import pandas as pd
#conservation des lignes dont les stations de départ se trouvent dans la Tunisie
#ID_conservés est la liste des identifiants uniques (ID_flight) des lignes du fichier DataSet Tunisair qui ont été conservées après le filtrage
ID_conservés = excel_data_Tunisair['ID_FlightType']

# Filtrer le fichier Types_vols pour ne garder que les lignes avec des ID_flight présents dans DataSet Tunisair
if 'ID_FlightType' in excel_data_TypeVols.columns:
  excel_data_TypeVols = excel_data_TypeVols[excel_data_TypeVols['ID_FlightType'].isin(ID_conservés)]
  print(f"Filtration terminée. Les données modifiées ont été sauvegardées dans 'excel_data_TypeVols.xlsx'.")

else:
  raise ValueError("La colonne 'ID_FlightType' n'existe pas dans le fichier Type_Vols.")

Filtration terminée. Les données modifiées ont été sauvegardées dans 'excel_data_TypeVols.xlsx'.

Vérification de l'unicité de "Flight_ID" de fichier DataSet Tunisair

In [215]:
# Vérifier si la colonne 'Flight_ID' contient des valeurs uniques
if excel_data_Tunisair['Flight_ID'].duplicated().any():
    print("Il y a des valeurs en double dans la colonne 'Flight_ID'.")
    # Afficher les valeurs en double
    duplicates = excel_data_Tunisair[excel_data_Tunisair['Flight_ID'].duplicated()]
    print("Valeurs en double :")
    print(duplicates[['Flight_ID']])
else:
    print("Toutes les valeurs dans la colonne 'Flight_ID' sont uniques.")

Toutes les valeurs dans la colonne 'Flight_ID' sont uniques.

Vérification de l'unicité de "ID_FlightType" de fichier Type_Vols

In [216]:
# Vérifier si la colonne 'Flight_ID' contient des valeurs uniques
if excel_data_TypeVols['ID_FlightType'].duplicated().any():
    print("Il y a des valeurs en double dans la colonne 'ID_FlightType'.")
    # Afficher les valeurs en double
    duplicates = excel_data_TypeVols[excel_data_TypeVols['ID_FlightType'].duplicated()]
    print("Valeurs en double :")
    print(duplicates[['ID_FlightType']])
else:
    print("Toutes les valeurs dans la colonne 'ID_FlightType' sont uniques.")

Toutes les valeurs dans la colonne 'ID_FlightType' sont uniques.

Vérification de validité de la colonne "Date"

In [217]:
import pandas as pd
# Vérifier qu'il n'y a pas de valeurs NaT (dates invalides)
if excel_data_Tunisair['Date'].isnull().any():
    print("Il y a des dates invalides (NaT) dans la colonne 'Date'.")
    # Récupérer les FlightID des lignes où Date est NaT
    invalid_flight_ids_Date = excel_data_Tunisair.loc[excel_data_Tunisair["Date"].isnull(), "FlightID"]
else:
    # Vérifier que toutes les dates sont dans l'année 2023
    if (excel_data_Tunisair['Date'].dt.year == 2023).all():
        print("Toutes les dates sont valides et dans l'année 2023.")
    else:
        print("Il y a des dates qui ne sont pas dans l'année 2023.")
        invalid_flight_ids_Year = excel_data_Tunisair.loc[excel_data_Tunisair['Date'].dt.year != 2023, "FlightID"]

Toutes les dates sont valides et dans l'année 2023.

Conversion des colonnes "Scheduled_Departure" et "Scheduled_Arrival" en format datetime

In [218]:
import pandas as pd
# Nom des colonnes contenant les heures 
colonne_heure1 = 'Scheduled_Departure'  
colonne_heure2 = 'Scheduled_Arrival'  

format_heure = '%H:%M'
# Vérifier si les colonnes existent
if colonne_heure1 in excel_data_Tunisair.columns and colonne_heure2 in excel_data_Tunisair.columns:
   
    excel_data_Tunisair[colonne_heure1] = pd.to_datetime(excel_data_Tunisair[colonne_heure1], format=format_heure, errors='coerce').dt.strftime('%H:%M:%S')
    excel_data_Tunisair[colonne_heure2] = pd.to_datetime(excel_data_Tunisair[colonne_heure2], format=format_heure, errors='coerce').dt.strftime('%H:%M:%S')

    print("Conversion terminée. Les données modifiées ont été sauvegardées dans 'DataSet Tunisair.xlsx'.")
else:
    print(f"Erreur : Les colonnes '{colonne_heure1}' et '{colonne_heure2}' doivent être présentes dans le fichier Excel.")

Conversion terminée. Les données modifiées ont été sauvegardées dans 'DataSet Tunisair.xlsx'.

Traitement sur la colonne "Delay_Minute"

In [219]:
import pandas as pd
colonne_delay = 'Delay_Minute'  

# Vérifier si la colonne existe
if colonne_delay in excel_data_Tunisair.columns:
    # Remplacer les valeurs négatives de la colonne Delay Minute par 0
    excel_data_Tunisair[colonne_delay] = excel_data_Tunisair[colonne_delay].apply(lambda x: max(x, 0))
    #apply() est une méthode qui permet d'appliquer une fonction sur chaque élément de la colonne
    #ambda x définit une fonction anonyme qui prend un argument x, qui représente une valeur de la colonne pour chaque ligne
    #La fonction max(x, 0) compare chaque valeur x à 0 : Si x est positif ou égal à zéro, la fonction retourne x , Si x est négatif, la fonction retourne 0

    print("Conversion terminée. Les valeurs négatives de 'Delay Minute' ont été remplacées par 0.")

else:
    print(f"Erreur : La colonne '{colonne_delay}' n'existe pas dans le fichier Excel.")

Conversion terminée. Les valeurs négatives de 'Delay Minute' ont été remplacées par 0.

Traitement sur la colonne "Delay_Reason"

In [220]:
import pandas as pd

colonne_delay_reason = 'Delay_Reason'  

# Vérifier si la colonne existe
if colonne_delay_reason in excel_data_Tunisair.columns and colonne_delay in excel_data_Tunisair.columns:
    # Remplacer les valeurs manquantes (NaN) de Delay_Reason avec une condition
    excel_data_Tunisair[colonne_delay_reason] = excel_data_Tunisair.apply(
        lambda row: 'No Delay' if pd.isna(row[colonne_delay_reason]) and row[colonne_delay] == 0
        else ('No Reason' if pd.isna(row[colonne_delay_reason]) else row[colonne_delay_reason]), axis=1
    )
    #axis=1 indique que l'application de la fonction se fait ligne par ligne
    #lambda row définit une fonction anonyme qui prend un argument row, représentant une ligne du DataFrame
    #isna() renvoie True si la valeur est NaN

    print("Les cases vides de la colonne 'Delay_Reason' ont été remplacées ")
else:
    print(f"Erreur : La colonne '{colonne_delay_reason}' n'existe pas dans le fichier Excel.")

Les cases vides de la colonne 'Delay_Reason' ont été remplacées

Chargement des données

Connexion au serveur

In [222]:
import mysql.connector
from mysql.connector import Error
host = 'localhost'  
user = 'root' 
password = '' 
database = 'datawarehouse'  
port = 3307 
try:
    # Établir la connexion
    conn = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database,
        port=port
    )
    
    # Vérifier si la connexion est réussie
    if conn.is_connected():
        print("Connexion réussie à la base de données !")
except Error as e:
    print("Erreur lors de la connexion :", e)

Connexion réussie à la base de données !

Chargement des données dans la table dimension "Date"

In [ ]:
# Supprimer les doublons de la colonne 'date' et les garder uniques
unique_dates = excel_data_Tunisair[['Date', 'Jour', 'Mois', 'Année']].drop_duplicates()
print(unique_dates)

# Convertir les dates en format datetime et supprimer les valeurs invalides
unique_dates['Date'] = pd.to_datetime(unique_dates['Date'], errors='coerce')
unique_dates = unique_dates.dropna(subset=['Date'])

# Filtrer les lignes où la date est '0000-00-00'
unique_dates = unique_dates[unique_dates['Date'] != '0000-00-00']

# Convertir les données uniques en une liste de tuples
unique_dates_tuples = [
    (row['Date'], row['Jour'], row['Mois'], row['Année']) 
    for _, row in unique_dates.iterrows()]
"""Une tuple (en français, tuple) est un type de donnée en Python qui représente une séquence d'éléments. 
C'est un conteneur similaire à une liste, mais contrairement à une liste, un tuple est immuable, 
ce qui signifie qu'une fois créé, vous ne pouvez pas modifier ses éléments """


# Requête d'insertion avec la colonne ID_Date qui est une clé primaire
insert_query = """
INSERT INTO date (ID_Date, Day, Month, Year) 
VALUES (%s, %s, %s, %s);
"""

# Insérer les données dans la table
with conn.cursor() as cursor:
    cursor.executemany(insert_query, unique_dates_tuples)
    conn.commit()

print("Données insérées avec succès dans la table dimension Date!")

Chargement des données dans la table dimension "Airports"

In [201]:
import mysql.connector
import json



# Vérifier si la clé 'airports' existe et contient des données
if 'airports' in json_data_Airports:
    airports_data = json_data_Airports['airports']
    
    # Créer un curseur pour exécuter des requêtes
    cursor = conn.cursor()

    # Boucle pour insérer chaque élément de la liste dans la table
    for airport in airports_data:
        # Préparer la requête d'insertion
        insert_query = """
        INSERT INTO airports (Airport_code, Airport_Name, Airport_Country) 
        VALUES (%s, %s, %s);
        """
        
        # Assurez-vous que les clés dans le JSON correspondent aux colonnes de la table
        data = (airport['Code'], airport['Airport_Name'], airport['Airport_country'])

        # Exécuter la requête d'insertion
        cursor.execute(insert_query, data)

    # Commit les changements pour valider les inserts
    conn.commit()


    print("Données insérées avec succès dans la table dimension Airports!")
else:
    print("Erreur : La clé 'airports' n'existe pas dans le fichier JSON.")

Données insérées avec succès dans la table dimension Airports!

Chargement des données dans la table dimension "Flight_features"

Chargement des données de fichier "Type_vols"

In [223]:
import mysql.connector
import pandas as pd

# insérer les données du fichier excel Type_Vols dans la table Flight_features
cursor = conn.cursor()
        
for index, row in excel_data_TypeVols.iterrows():
    # Préparer la requête SQL d'insertion
    insert_query = """
    INSERT INTO flight_features (ID_FlightType, Flight_Type, Flight_Status) 
    VALUES (%s, %s, %s);
    """
    
    # Préparer les données pour la requête
    data1 = (row['ID_FlightType'], row['Flight_Type'], row['Flight_status'])
    
    # Exécuter la requête d'insertion
    cursor.execute(insert_query, data1)

# Commit pour valider les changements
conn.commit()
print(f"Données du fichier Type_Vols sont  insérées avec succès dans la table flight_features!")

Données du fichier Type_Vols sont  insérées avec succès dans la table flight_features!

Chargement des données de fichier "DataSet Tunisair"

In [224]:
import mysql.connector
import pandas as pd

# insérer les données du fichier excel Type_Vols dans la table Flight_features
cursor = conn.cursor()
        
for index, row in excel_data_Tunisair.iterrows():
    # Préparer la requête SQL d'insertion
    update_query = """
        UPDATE flight_features 
        SET Flight_Number = %s, 
            Schedule_Departure = %s, 
            Schedule_Arrival = %s, 
            Delay_Reason = %s 
        WHERE ID_FlightType = %s;
        """
    
    # Préparer les données pour la requête
    data2 = (row['Flight_Number'], row['Scheduled_Departure'], row['Scheduled_Arrival'], row['Delay_Reason'],row['ID_FlightType'])
    
    # Exécuter la requête d'insertion
    cursor.execute(update_query, data2)

# Commit pour valider les changements
conn.commit()
print(f"Données du fichier Type_Vols sont  insérées avec succès dans la table flight_features!")

Données du fichier Type_Vols sont  insérées avec succès dans la table flight_features!

Chargement des données dans la table Fait "Flight"

récupérer les prix de vols

In [142]:
cursor_classes=conn_Access.cursor()
def get_price(Destination):
    query = """
    SELECT Economy_Price, PremEconomy_Price, Business_Price, FirstClass_Price
    FROM prices 
    WHERE Destination=?
    """
    cursor_classes.execute(query, (Destination)) 
    result = cursor_classes.fetchone()
    #fetchone récupére une seule ligne d'un résultat de requête SQL
    if result:
        price_dict = {
            "Economy_Price": result[0],
            "PremEconomy_Price": result[1],
            "Business_Price": result[2],
            "FirstClass_Price": result[3]
        }
        return price_dict

Récupérer les types de vols

In [ ]:

def get_flight_type_from_feature(flight_feature_id):
    cursor = conn.cursor()
    # Requête pour récupérer l'ID du Flight_Type depuis la table Flight_Features
    query = """
    SELECT Flight_Type 
    FROM Flight_Features 
    WHERE ID_FlightType = %s
    """
    cursor.execute(query, (flight_feature_id,))
    result = cursor.fetchone()

    if result:
        return result[0]  # Retourne l'ID_FlightType
    else:
        return None  # Aucun résultat trouvé

In [ ]:
import mysql.connector
import pandas as pd

# insérer les données du fichier excel Type_Vols dans la table Flight_features
cursor = conn.cursor()
        
# Préparer la requête SQL d'insertion
insert_query = """
    INSERT INTO flight(ID_Flight, Airport_Code_Dep, Airport_Code_Arr, ID_Date, ID_FlightType, Delay_Minute, nb_passengers_Economy, nb_passengers_PremEconomy, nb_passengers_Business, nb_passengers_FirstClass, nb_passengers_Flight, Flight_Income)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
        """

# Préparer les données pour la requête
for index, row in excel_data_Tunisair.iterrows():
    # Récupérer les valeurs des colonnes du fichier Excel
    ID_Flight = row['Flight_ID']
    Airport_Code_Dep = row['Departure_Station']
    Airport_Code_Arr = row['Arrival_Station']
    ID_Date = row['Date']
    ID_FlightType = row['ID_FlightType']
    Delay_Minute = row['Delay_Minute']
    nb_passengers_Economy = row['Passengers_Number_economy']
    nb_passengers_PremEconomy = row['Passengers_Number_PREMeconomy']
    nb_passengers_Business = row['Passengers_Number_Business']
    nb_passengers_FirstClass = row['Passengers_Number_FirstClass']

    nb_passengers = nb_passengers_Economy + nb_passengers_PremEconomy + nb_passengers_Business + nb_passengers_FirstClass

    Flight_Income = (nb_passengers_Economy *get_price(get_flight_type_from_feature(ID_FlightType),"Economy") +
               nb_passengers_PremEconomy * get_price(get_flight_type_from_feature(ID_FlightType),"PremiumEconomy") +
               nb_passengers_Business * get_price(get_flight_type_from_feature(ID_FlightType),"Business") +
               nb_passengers_FirstClass * get_price(get_flight_type_from_feature(ID_FlightType),"First Class"))

    data = (ID_Flight, Airport_Code_Dep, Airport_Code_Arr, ID_Date, ID_FlightType, Delay_Minute,
            nb_passengers_Economy, nb_passengers_PremEconomy, nb_passengers_Business, nb_passengers_FirstClass,
            nb_passengers, Flight_Income)
    
    # Exécuter la requête d'insertion
    cursor.execute(insert_query, data)

# Commit pour valider les changements
conn.commit()
print(f"Les Données  sont  insérées avec succès dans la table Fait flight !")

In [ ]:
data_rows = []
data_non=[]
for index, row in excel_data_Tunisair.iterrows():
    Airport_Code_Arr = row['Arrival_Station']
    ID_Flight = row['Flight_ID']
    nb_passengers_Economy = row['Passengers_Number_economy']
    nb_passengers_PremEconomy = row['Passengers_Number_PREMeconomy']
    nb_passengers_Business = row['Passengers_Number_Business']
    nb_passengers_FirstClass = row['Passengers_Number_FirstClass']
    result=get_price(Airport_Code_Arr)
    if result:
        Flight_Income_Test = (nb_passengers_Economy * result['Economy_Price'] +
                            nb_passengers_PremEconomy * result['PremEconomy_Price'] +
                            nb_passengers_Business * result['Business_Price'] +
                            nb_passengers_FirstClass * result['FirstClass_Price'])
        data_rows.append(Flight_Income)
    else:
        data_non.append(ID_Flight)
print(data_rows)
print(data_non)

[69737.0, 64788.0, 48701.0, 36043.0, 35111.0, 40738.0, 81651.0, 33047.0, 28878.0, 112447.0, 94333.0, 47253.0, 63867.0, 23174.0, 64840.0, 107778.0, 24662.0, 87080.0, 162300.0, 41483.0, 65066.0, 35257.0, 41592.0, 52057.0, 21613.0, 39490.0, 106794.0, 44186.0, 35910.0, 128321.0, 48632.0, 65000.0, 46954.0, 44462.0, 63310.0, 35234.0, 93722.0, 99387.0, 67092.0, 21953.0, 147341.0, 25322.0, 24145.0, 59034.0, 86604.0, 124358.0, 40446.0, 55284.0, 110293.0, 42327.0, 94349.0, 45552.0, 78541.0, 66224.0, 107344.0, 20408.0, 82848.0, 35503.0, 17190.0, 128645.0, 86282.0, 58757.0, 47191.0, 29556.0, 32161.0, 28512.0, 70933.0, 42309.0, 48868.0, 26612.0, 25467.0, 50584.0, 59165.0, 74964.0, 31684.0, 14957.0, 23808.0, 57354.0, 15082.0, 40521.0, 130347.0, 39843.0, 29156.0, 67461.0, 67576.0, 17832.0, 79228.0, 65470.0, 33904.0, 46206.0, 66186.0, 56956.0, 31836.0, 52118.0, 102773.0, 66348.0, 32678.0, 32731.0, 41837.0, 48494.0, 50068.0, 30082.0, 44248.0, 75472.0, 27733.0, 49968.0, 37803.0, 67833.0, 101467.0, 57428.0, 85274.0, 60797.0, 45519.0, 121106.0, 54797.0, 15310.0, 23308.0, 24071.0, 17536.0, 65010.0, 23767.0, 40835.0, 120510.0, 36599.0, 62414.0, 50226.0, 88134.0, 24790.0, 51481.0, 83337.0, 65065.0, 59739.0, 44389.0, 60732.0, 40583.0, 34496.0, 60647.0, 49814.0, 114755.0, 65069.0, 32806.0, 67234.0, 33140.0, 120902.0, 122350.0, 24819.0, 46635.0, 45892.0, 34333.0, 24680.0, 25629.0, 124203.0, 20975.0, 43411.0, 77082.0, 24648.0, 81827.0, 46662.0, 29440.0, 57209.0, 62284.0, 77216.0, 28706.0, 20802.0, 99116.0, 23273.0, 40148.0, 82433.0, 22560.0, 21284.0, 22340.0, 32068.0, 104003.0, 64268.0, 78262.0, 60866.0, 28624.0, 54769.0, 36581.0, 98872.0, 20991.0, 53105.0, 54516.0, 23622.0, 72572.0, 93310.0, 20361.0, 84456.0, 66089.0, 94833.0, 45178.0, 61770.0, 43542.0, 63279.0, 124648.0, 75586.0, 56234.0, 44672.0, 48569.0, 15045.0, 52112.0, 26684.0, 164915.0, 81109.0, 98579.0, 133467.0, 54397.0, 63970.0, 55424.0, 64313.0, 80197.0, 26099.0, 39726.0, 11321.0, 53804.0, 17923.0, 68262.0, 48553.0, 95630.0, 34157.0, 100080.0, 39704.0, 61240.0, 39105.0, 23388.0, 43081.0, 110815.0, 118699.0, 17848.0, 25793.0, 84382.0, 20420.0, 71984.0, 66570.0, 51317.0, 49577.0, 45019.0, 27658.0, 25291.0, 59465.0, 130020.0, 72002.0, 61639.0, 81341.0, 27013.0, 94861.0, 61862.0, 79117.0, 21239.0, 17959.0, 45016.0, 35508.0, 38062.0, 48889.0, 59434.0, 50784.0, 40270.0, 68721.0, 14386.0, 31129.0, 42447.0, 52584.0, 46863.0, 26414.0, 25721.0, 113906.0, 15365.0, 75812.0, 80449.0, 67084.0, 29513.0, 70176.0, 96433.0, 104111.0, 64530.0, 44356.0, 97356.0, 72856.0, 63320.0, 53949.0, 61827.0, 121975.0, 73501.0, 44514.0, 91741.0, 70777.0, 66462.0, 33335.0, 74205.0, 15639.0, 73827.0, 47525.0, 43558.0, 35216.0, 48604.0, 81749.0, 34929.0, 50030.0, 40197.0, 71277.0, 39836.0, 55185.0, 35357.0, 66944.0, 35018.0, 76296.0, 108894.0, 52955.0, 73570.0, 50170.0, 69083.0, 128420.0, 39412.0, 124548.0, 116455.0, 33604.0, 72807.0, 37471.0, 81166.0, 30779.0, 37186.0, 20857.0, 80957.0, 50392.0, 47228.0, 50954.0, 142847.0, 54565.0, 84697.0, 22165.0, 77134.0, 109226.0, 62739.0, 49027.0, 29677.0, 63498.0, 80131.0, 61695.0, 62242.0, 12482.0, 33626.0, 27900.0, 43581.0, 42885.0, 109777.0, 104488.0, 79706.0, 51035.0, 41521.0, 54492.0, 56538.0, 17928.0, 60776.0, 12527.0, 19374.0, 80768.0, 60302.0, 165687.0, 75647.0, 46512.0, 58011.0, 80571.0, 79239.0, 90285.0, 29647.0, 12854.0, 50876.0, 29663.0, 88466.0, 60558.0, 53559.0, 100190.0, 92506.0, 76335.0, 70461.0, 39914.0, 159505.0, 45971.0, 20843.0, 102775.0, 58934.0, 79852.0, 55547.0, 110632.0, 79414.0, 36193.0, 39237.0, 50983.0, 15984.0, 50243.0, 80893.0, 51139.0, 41693.0, 88758.0, 93333.0, 26037.0, 113526.0, 27674.0, 58252.0, 21531.0, 61475.0, 42052.0, 16104.0, 33195.0, 10849.0, 50728.0, 97458.0, 63947.0, 107288.0, 67138.0, 83456.0, 103319.0, 33664.0, 166195.0, 34199.0, 46136.0, 78391.0, 66091.0, 80443.0, 75729.0, 107944.0, 36348.0, 16279.0, 28760.0, 9800.0, 69529.0, 74852.0, 57079.0, 44249.0, 61562.0, 46780.0, 67203.0, 62421.0, 43192.0, 105298.0, 22271.0, 25766.0, 27368.0, 186871.0, 67966.0, 87047.0, 9440.0, 99203.0, 46448.0, 9148.0, 91500.0, 94169.0, 71750.0, 35924.0, 65161.0, 73560.0, 23655.0, 54751.0, 11215.0, 14973.0, 25287.0, 120111.0, 42761.0, 67415.0, 87684.0, 67550.0, 117535.0, 75084.0, 30881.0, 47731.0, 44291.0, 20381.0, 42809.0, 59508.0, 48961.0, 151573.0, 32577.0, 10612.0, 40166.0, 79059.0, 38646.0, 66039.0, 93056.0, 22024.0, 65805.0, 19460.0, 55793.0, 76654.0, 77760.0, 10968.0, 74457.0, 53249.0, 11661.0, 25810.0, 41107.0, 63743.0, 91459.0, 43249.0, 80400.0, 102920.0, 48214.0, 72938.0, 9084.0, 75325.0, 42825.0, 46310.0, 59955.0, 54824.0, 37074.0, 66156.0, 40188.0, 107131.0, 68741.0, 32275.0, 97092.0, 29444.0, 29794.0, 150344.0, 74626.0, 16988.0, 48682.0, 68639.0, 94640.0, 73139.0, 113420.0, 41670.0, 87941.0, 42404.0, 123007.0, 94663.0, 29241.0, 54349.0, 37243.0, 124733.0, 17154.0, 67646.0, 116360.0, 30093.0, 66911.0, 79454.0, 108737.0, 36173.0, 87256.0, 18058.0, 65575.0, 11662.0, 52409.0, 102726.0, 33545.0, 38592.0, 46682.0, 9921.0, 80367.0, 51204.0, 62300.0, 45990.0, 72734.0, 38088.0, 170453.0, 8706.0, 18093.0, 31016.0, 68334.0, 48777.0, 39134.0, 133053.0, 76711.0, 86575.0, 49855.0, 75467.0, 51151.0, 26598.0, 73233.0, 66216.0, 60433.0, 33363.0, 89167.0, 55217.0, 71145.0, 79518.0, 116340.0, 32396.0, 28450.0, 75162.0, 56064.0, 61656.0, 44379.0, 85193.0, 18333.0, 67314.0, 66917.0, 12675.0, 46488.0, 55592.0, 48578.0, 94758.0, 66909.0, 82738.0, 63159.0, 65345.0, 13634.0, 129451.0, 88894.0, 33395.0, 13445.0, 75404.0, 107394.0, 39519.0, 17023.0, 8727.0, 69600.0, 36854.0, 66535.0, 77595.0, 76746.0, 100480.0, 15594.0, 64569.0, 70485.0, 77884.0, 51581.0, 45560.0, 66646.0, 20556.0, 89260.0, 53369.0, 51991.0, 67086.0, 44275.0, 70106.0, 55433.0, 51567.0, 72174.0, 63535.0, 144421.0, 64888.0, 73851.0, 72360.0, 38715.0, 95558.0, 44252.0, 58545.0, 37558.0, 55816.0, 157974.0, 76256.0, 21746.0, 46960.0, 27728.0, 93593.0, 68691.0, 72628.0, 80406.0, 85600.0, 35044.0, 60158.0, 48188.0, 94871.0, 72627.0, 48104.0, 68504.0, 101774.0, 105945.0, 35776.0, 63372.0, 59747.0, 68792.0, 36473.0, 78607.0, 32544.0, 48265.0, 118248.0, 69521.0, 13136.0, 38885.0, 22376.0, 56669.0, 69810.0, 68519.0, 80746.0, 26236.0, 51192.0, 30097.0, 40230.0, 75228.0, 122171.0, 56244.0, 114251.0, 68003.0, 100846.0, 64410.0, 45429.0, 77423.0, 66996.0, 46805.0, 58043.0, 29163.0, 20306.0, 80740.0, 67563.0, 17589.0, 80634.0, 141026.0, 13350.0, 61493.0, 11834.0, 51688.0, 59721.0, 56400.0, 22447.0, 60929.0, 67457.0, 56733.0, 92520.0, 82598.0, 61241.0, 66481.0, 48230.0, 40561.0, 79768.0, 67705.0, 56492.0, 48105.0, 27016.0, 72743.0, 62241.0, 18820.0, 81408.0, 11648.0, 56778.0, 7084.0, 57623.0, 40014.0, 73690.0, 62736.0, 52004.0, 40587.0, 43809.0, 71903.0, 38377.0, 62710.0, 73627.0, 57024.0, 17097.0, 77996.0, 37577.0, 34461.0, 60219.0, 47867.0, 49519.0, 71835.0, 43802.0, 60208.0, 37659.0, 26925.0, 38823.0, 114877.0, 75264.0, 70303.0, 60918.0, 43504.0, 75152.0, 41200.0, 42152.0, 55212.0, 46125.0, 15093.0, 130474.0, 46494.0, 121839.0, 109546.0, 22606.0, 102700.0, 44707.0, 96793.0, 72492.0, 43589.0, 75636.0, 151967.0, 40184.0, 42797.0, 87004.0, 64598.0, 89862.0, 76656.0, 32115.0, 52458.0, 41377.0, 54436.0, 95070.0, 36354.0, 86138.0, 61286.0, 36504.0, 27997.0, 38050.0, 45726.0, 29236.0, 14244.0, 63897.0, 58864.0, 61999.0, 37744.0, 62816.0, 25841.0, 42272.0, 19827.0, 15828.0, 41028.0, 59828.0, 63722.0, 55514.0, 32681.0, 40736.0, 58512.0, 77879.0, 17636.0, 71521.0, 82506.0, 99399.0, 55622.0, 49312.0, 112951.0, 37936.0, 67746.0, 12640.0, 63523.0, 23995.0, 47675.0, 42299.0, 51961.0, 81873.0, 54923.0, 193075.0, 63265.0, 43054.0, 12533.0, 26932.0, 150471.0, 123809.0, 35073.0, 120787.0, 30068.0, 53888.0, 19364.0, 71636.0, 66719.0, 76177.0, 27886.0, 46860.0, 26037.0, 91872.0, 20851.0, 100239.0, 93961.0, 53019.0, 110184.0, 13603.0, 91752.0, 66451.0, 103822.0, 17344.0, 36304.0, 57495.0, 56764.0, 182184.0, 24545.0, 58058.0, 36930.0, 83796.0, 107562.0, 26626.0, 133835.0, 59911.0, 22401.0, 55910.0, 40149.0, 37476.0, 50074.0, 90358.0, 40206.0, 73469.0, 30281.0, 93078.0, 75336.0, 139087.0, 87788.0, 11740.0, 54950.0, 32104.0, 22438.0, 50084.0, 72009.0, 105818.0, 141293.0, 108897.0, 55934.0, 35316.0, 28768.0, 48515.0, 76150.0, 27247.0, 46008.0, 12143.0, 123820.0, 102393.0, 92920.0, 131238.0, 82746.0, 24811.0, 24698.0, 67246.0, 39622.0, 43063.0, 94960.0, 45882.0, 66556.0, 26465.0, 116315.0, 17002.0, 114847.0, 33732.0, 83778.0, 24262.0, 60588.0, 32309.0, 15413.0, 102669.0, 79660.0, 26972.0, 62129.0, 50512.0, 33687.0, 33162.0, 35434.0, 75745.0, 38721.0, 43690.0, 59612.0, 86420.0, 43143.0, 101548.0, 12474.0, 52858.0, 12368.0, 69930.0, 119812.0, 53117.0, 55474.0, 41118.0, 16586.0, 44472.0, 75269.0, 133998.0, 42731.0, 102688.0, 71850.0, 37914.0, 16511.0, 60298.0, 48855.0, 48430.0, 50890.0, 39943.0, 24515.0, 48819.0, 19836.0, 56152.0, 39301.0, 76584.0, 60191.0, 33134.0, 77560.0, 56339.0, 54601.0, 17057.0, 71010.0, 29002.0, 115689.0, 39080.0, 65780.0, 69640.0, 48476.0, 148344.0, 38842.0, 54068.0, 46568.0, 51260.0, 29682.0, 26018.0, 121812.0, 11801.0, 130190.0, 59750.0, 42214.0, 94184.0, 110072.0, 58901.0, 40247.0, 36944.0, 43694.0, 10432.0, 36017.0, 47295.0, 53426.0, 88213.0, 46411.0, 29724.0, 53950.0, 82287.0, 58216.0, 51958.0, 16027.0, 92044.0, 65181.0, 97695.0, 67464.0, 26680.0, 61040.0, 31996.0, 43975.0, 128097.0, 15684.0, 84043.0, 13428.0, 22110.0, 15392.0, 58582.0, 42134.0, 60693.0, 41177.0, 38141.0, 63448.0, 47487.0, 34052.0, 105780.0, 26727.0, 72542.0, 42581.0, 36073.0, 32347.0, 42780.0, 53419.0, 41577.0, 24092.0, 37766.0, 38213.0, 72497.0, 33022.0, 88754.0, 113794.0, 42502.0, 29395.0, 61608.0, 120319.0, 43321.0, 24345.0, 53940.0, 51650.0, 51280.0, 42812.0, 67705.0, 19821.0, 32800.0, 59331.0, 47308.0, 59399.0, 76718.0, 95650.0, 12021.0, 106790.0, 99950.0, 67467.0, 116762.0, 54715.0, 76327.0, 52213.0, 80746.0, 20720.0, 10264.0, 63010.0, 71590.0, 15127.0, 85443.0, 125494.0, 72069.0, 44419.0, 48941.0, 53894.0, 79984.0, 97453.0, 54020.0, 97912.0, 29979.0, 17624.0, 19960.0, 79467.0, 74046.0, 48983.0, 40364.0, 83617.0, 37376.0, 69898.0, 48506.0, 77132.0, 42155.0, 146160.0, 28682.0, 8294.0, 28578.0, 99356.0, 32473.0, 135745.0, 113317.0, 70399.0, 33646.0, 126638.0, 92323.0, 73078.0, 9576.0, 67574.0, 60251.0, 78149.0, 159162.0, 42180.0, 58421.0, 25734.0, 43168.0, 69527.0, 13139.0, 56219.0, 16952.0, 85437.0, 69088.0, 37326.0, 30900.0, 22388.0, 51922.0, 62458.0, 39135.0, 17593.0, 69163.0, 51888.0, 28907.0, 39175.0, 71567.0, 64086.0, 61005.0, 12773.0, 70103.0, 43578.0, 33815.0, 61042.0, 56544.0, 19969.0, 93100.0, 16524.0, 83195.0, 51871.0, 90651.0, 42996.0, 92530.0, 57635.0, 18318.0, 101940.0, 88365.0, 80357.0, 94067.0, 95742.0, 45045.0, 63231.0, 60382.0, 49477.0, 55455.0, 62668.0, 48063.0, 34561.0, 57088.0, 60066.0, 30319.0, 45921.0, 97761.0, 19847.0, 29788.0, 15144.0, 23095.0, 7124.0, 74361.0, 18441.0, 44130.0, 26461.0, 62811.0, 34206.0, 72675.0, 138058.0, 69552.0, 92055.0, 130508.0, 110374.0, 61227.0, 70430.0, 55042.0, 72698.0, 57557.0, 57528.0, 19821.0, 14708.0, 67255.0, 53059.0, 100648.0, 81270.0, 72436.0, 82890.0, 85229.0, 59149.0, 43327.0, 47636.0, 23674.0, 46796.0, 91446.0, 65630.0, 44459.0, 53562.0, 47939.0, 53169.0, 77729.0, 21831.0, 18103.0, 40700.0, 78865.0, 92511.0, 52396.0, 94612.0, 98691.0, 83102.0, 63806.0, 58025.0, 48795.0, 113057.0, 55754.0, 23170.0, 48933.0, 32692.0, 83883.0, 40608.0, 60163.0, 40450.0, 57638.0, 33426.0, 70779.0, 89972.0, 97038.0, 109474.0, 31605.0, 37676.0, 86342.0, 14375.0, 76759.0, 146145.0, 60332.0, 71837.0, 161703.0, 42863.0, 63814.0, 32549.0, 74224.0, 85262.0, 105659.0, 63802.0, 66305.0, 72793.0, 74461.0, 61174.0, 16688.0, 75046.0, 121569.0, 65544.0, 83526.0, 7369.0, 51153.0, 53770.0, 62181.0, 58375.0, 17293.0, 72888.0, 68955.0, 22891.0, 80465.0, 38040.0, 79492.0, 107142.0, 53698.0, 73182.0, 85369.0, 10482.0, 92564.0, 71124.0, 32685.0, 51180.0, 82866.0, 34376.0, 44661.0, 34094.0, 27898.0, 64607.0, 21204.0, 99154.0, 37130.0, 45987.0, 27266.0, 46436.0, 109326.0, 121523.0, 8898.0, 36640.0, 39329.0, 168390.0, 56154.0, 16941.0, 31155.0, 66101.0, 17325.0, 36540.0, 15827.0, 31337.0, 8330.0, 15690.0, 35483.0, 87806.0, 70585.0, 72444.0, 32680.0, 69574.0, 17461.0, 18910.0, 19654.0, 24345.0, 14920.0, 16665.0, 20454.0, 53236.0, 64608.0, 15067.0, 67767.0, 52840.0, 109744.0, 124423.0, 25152.0, 16972.0, 100915.0, 62780.0, 55892.0, 92511.0, 57494.0, 45443.0, 26431.0, 40983.0, 27207.0, 112659.0, 44010.0, 127926.0, 22507.0, 39302.0, 77833.0, 58038.0, 45750.0, 78318.0, 76780.0, 55135.0, 52044.0, 18478.0, 130379.0, 52469.0, 83220.0, 68295.0, 18196.0, 120368.0, 60292.0, 48297.0, 49410.0, 48066.0, 34910.0, 35545.0, 45537.0, 69242.0, 75416.0, 39942.0, 86607.0, 59079.0, 60960.0, 16914.0, 42514.0, 74802.0, 55997.0, 57545.0, 74602.0, 17596.0, 69637.0, 39948.0, 73064.0, 56027.0, 105926.0, 69932.0, 9392.0, 30119.0, 31902.0, 57972.0, 77919.0, 20435.0, 33133.0, 41546.0, 119855.0, 30736.0, 65504.0, 58137.0, 57640.0, 61535.0, 41001.0, 55875.0, 52595.0, 68051.0, 58942.0, 101166.0, 43709.0, 58536.0, 77658.0, 56873.0, 144653.0, 48618.0, 70282.0, 84856.0, 58442.0, 32118.0, 35130.0, 48272.0, 9238.0, 49230.0, 86819.0, 41900.0, 67188.0, 48955.0, 27505.0, 76591.0, 52930.0, 74862.0, 35307.0, 97922.0, 71326.0, 41435.0, 99901.0, 83266.0, 42765.0, 48618.0, 45077.0, 18131.0, 131840.0, 52007.0, 67029.0, 166710.0, 36024.0, 7317.0, 59081.0, 56492.0, 78460.0, 67005.0, 38299.0, 11659.0, 44289.0, 111994.0, 73036.0, 46510.0, 109104.0, 65979.0, 44876.0, 64076.0, 24053.0, 24352.0, 69903.0, 27768.0, 14642.0, 32454.0, 58898.0, 36323.0, 12617.0, 76004.0, 51725.0, 71770.0, 45243.0, 21698.0, 43602.0, 92815.0, 57405.0, 12847.0, 118895.0, 23858.0, 51322.0, 100944.0, 80239.0, 56175.0, 117731.0, 132182.0, 12423.0, 47650.0, 55926.0, 42940.0, 90403.0, 65661.0, 90636.0, 56425.0, 67470.0, 51293.0, 63737.0, 77315.0, 52395.0, 53124.0, 46744.0, 82755.0, 55617.0, 86944.0, 77647.0, 29831.0, 56559.0, 57033.0, 29167.0, 70301.0, 31849.0, 17888.0, 56065.0, 56739.0, 21486.0, 25523.0, 93788.0, 64513.0, 57105.0, 11408.0, 41189.0, 65565.0, 94170.0, 73421.0, 118198.0, 39504.0, 154292.0, 82258.0, 110450.0, 23163.0, 25862.0, 25758.0, 58937.0, 91794.0, 46128.0, 65919.0, 36858.0, 73478.0, 131643.0, 60481.0, 28545.0, 29423.0, 58994.0, 12675.0, 94253.0, 9661.0, 43880.0, 7566.0, 45403.0, 9393.0, 134790.0, 44204.0, 35341.0, 33101.0, 50811.0, 60951.0, 36309.0, 34997.0, 51106.0, 17479.0, 49533.0, 20098.0, 119835.0, 67243.0, 74831.0, 50790.0, 8862.0, 14195.0, 47780.0, 54424.0, 60316.0, 68408.0, 103374.0, 60318.0, 65595.0, 58908.0, 90132.0, 28905.0, 50130.0, 86885.0, 47495.0, 29664.0, 22746.0, 85424.0, 14688.0, 48222.0, 37524.0, 48026.0, 40617.0, 70530.0, 60486.0, 142034.0, 84720.0, 8617.0, 34367.0, 74882.0, 46534.0, 120761.0, 99745.0, 80560.0, 118471.0, 30487.0, 70888.0, 25543.0, 104168.0, 116758.0, 116554.0, 21079.0, 21479.0, 115219.0, 19960.0, 19888.0, 67090.0, 60869.0, 51149.0, 40662.0, 16305.0, 51332.0, 29751.0, 89917.0, 18920.0, 81414.0, 21220.0, 10804.0, 64664.0, 79622.0, 24290.0, 45738.0, 94653.0, 118067.0, 67890.0, 42659.0, 61846.0, 33053.0, 86183.0, 50276.0, 33683.0, 23833.0, 58556.0, 97642.0, 35658.0, 74688.0, 60974.0, 150676.0, 33824.0, 36016.0, 65693.0, 30772.0, 90374.0, 52382.0, 47637.0, 112783.0, 107514.0, 93434.0, 50872.0, 31174.0, 90678.0, 63095.0, 101033.0, 43795.0, 28132.0, 47374.0, 34053.0, 53991.0, 74615.0, 50811.0, 60281.0, 63133.0, 36485.0, 73982.0, 81264.0, 61552.0, 129623.0, 49461.0, 89270.0, 70401.0, 54151.0, 30611.0, 141448.0, 106854.0, 74166.0, 115491.0, 61347.0, 23747.0, 50090.0, 74069.0, 61353.0, 49574.0, 117465.0, 20251.0, 42743.0, 60297.0, 102824.0, 105728.0, 35947.0, 80548.0, 56439.0, 33687.0, 69372.0, 82224.0, 51139.0, 71504.0, 10650.0, 101598.0, 55416.0, 50976.0, 110494.0, 48609.0, 50053.0, 20217.0, 70337.0, 52796.0, 110595.0, 47923.0, 112956.0, 60394.0, 42163.0, 70356.0, 34670.0, 93489.0, 21482.0, 43552.0, 69220.0, 34951.0, 114786.0, 90524.0, 71768.0, 109462.0, 40118.0, 53505.0, 16963.0, 90387.0, 33088.0, 45233.0, 51783.0, 44425.0, 33022.0, 83634.0, 17564.0, 59558.0, 64438.0, 52885.0, 28231.0, 76131.0, 58189.0, 55338.0, 71117.0, 102586.0, 39059.0, 56336.0, 30647.0, 68362.0, 51656.0, 33254.0, 45816.0, 102629.0, 94560.0, 141104.0, 76281.0, 52210.0, 84682.0, 53350.0, 98260.0, 36568.0, 59737.0, 16702.0, 50965.0, 53582.0, 84358.0, 50230.0, 69798.0, 62739.0, 44719.0, 29794.0, 96654.0, 62904.0, 60989.0, 21371.0, 37157.0, 37322.0, 42233.0, 58404.0, 63180.0, 45877.0, 76165.0, 17681.0, 82191.0, 80341.0, 19968.0, 164608.0, 34848.0, 85837.0, 41956.0, 77788.0, 68606.0, 32426.0, 60785.0, 47154.0, 53966.0, 39968.0, 38155.0, 21286.0, 11778.0, 70931.0, 15683.0, 127722.0, 18122.0, 32947.0, 87660.0, 41091.0, 86222.0, 75253.0, 54725.0, 78225.0, 81074.0, 137738.0, 81149.0, 55129.0, 67711.0, 42412.0, 120443.0, 73561.0, 64337.0, 67874.0, 53144.0, 70987.0, 18309.0, 34812.0, 51147.0, 69024.0, 30372.0, 42287.0, 48464.0, 23594.0, 93975.0, 69947.0, 62274.0, 38496.0, 124854.0, 154193.0, 107188.0, 62735.0, 76792.0, 10231.0, 45682.0, 49634.0, 41299.0, 86789.0, 83216.0, 136476.0, 41545.0, 85858.0, 48575.0, 83704.0, 95104.0, 22536.0, 28165.0, 27510.0, 28519.0, 112534.0, 81288.0, 66860.0, 91460.0, 134162.0, 30694.0, 54617.0, 20597.0, 17135.0, 16202.0, 119864.0, 56405.0, 32087.0, 54830.0, 13086.0, 38740.0, 78593.0, 51493.0, 11647.0, 34742.0, 31878.0, 86726.0, 79844.0, 91171.0, 128461.0, 60668.0, 23284.0, 100825.0, 16600.0, 39073.0, 34492.0, 72080.0, 84006.0, 51056.0, 68339.0, 68838.0, 55291.0, 34023.0, 88719.0, 87442.0, 105327.0, 112942.0, 40161.0, 133378.0, 95146.0, 21123.0, 59336.0, 20030.0, 64347.0, 57958.0, 69921.0, 147352.0, 63080.0, 136036.0, 72054.0, 106828.0, 42103.0, 71437.0, 90157.0, 52704.0, 43008.0, 63087.0, 26708.0, 56276.0, 10451.0, 79478.0, 74294.0, 37091.0, 91446.0, 67563.0, 43462.0, 136724.0, 38571.0, 67615.0, 23134.0, 45110.0, 45478.0, 26614.0, 108679.0, 41862.0, 42156.0, 32294.0, 113516.0, 144081.0, 52876.0, 76249.0, 63070.0, 62523.0, 62584.0, 113250.0, 67176.0, 93697.0, 74837.0, 96616.0, 79137.0, 47595.0, 36966.0, 57186.0, 17405.0, 123830.0, 36181.0, 15932.0, 31351.0, 49254.0, 48355.0, 36068.0, 81206.0, 109095.0, 24165.0, 10226.0, 22612.0, 63439.0, 90884.0, 42592.0, 27626.0, 64432.0, 33239.0, 38292.0, 75378.0, 17751.0, 48254.0, 68931.0, 33903.0, 14221.0, 63179.0, 70876.0, 101254.0, 74170.0, 17476.0, 96653.0, 110601.0, 12002.0, 99721.0, 17050.0, 49372.0, 25451.0, 47610.0, 38735.0, 174985.0, 52626.0, 60351.0, 47426.0, 23956.0, 32279.0, 78562.0, 29825.0, 63540.0, 23986.0, 96076.0, 87919.0, 43540.0, 22382.0, 15357.0, 18228.0, 41581.0, 74451.0, 32362.0, 56588.0, 36980.0, 53992.0, 85185.0, 70740.0, 56832.0, 32385.0, 42156.0, 55884.0, 60372.0, 53970.0, 61619.0, 77508.0, 75358.0, 66642.0, 62160.0, 85937.0, 88286.0, 33952.0, 20862.0, 96941.0, 40675.0, 48591.0, 77527.0, 39194.0, 27640.0, 76294.0, 35652.0, 69078.0, 46036.0, 59540.0, 69386.0, 63174.0, 123908.0, 76636.0, 10909.0, 48258.0, 92123.0, 14541.0, 89714.0, 54175.0, 77457.0, 60336.0, 28189.0, 57777.0, 60442.0, 74465.0, 102257.0, 18074.0, 69828.0, 28783.0, 38632.0, 58448.0, 61925.0, 70646.0, 70262.0, 81555.0, 66396.0, 14146.0, 20662.0, 25052.0, 7450.0, 94737.0, 52542.0, 73527.0, 50563.0, 88137.0, 46641.0, 57593.0, 96924.0, 21318.0, 93304.0, 12349.0, 20140.0, 51209.0, 88879.0, 84806.0, 54661.0, 90582.0, 59396.0, 140964.0, 62795.0, 23790.0, 62725.0, 134738.0, 104905.0, 65528.0, 114550.0, 37053.0, 64258.0, 74043.0, 38741.0, 46466.0, 116277.0, 52381.0, 109331.0, 18654.0, 58448.0, 106394.0, 78088.0, 62958.0, 89936.0, 38743.0, 32450.0, 76391.0, 66224.0, 32280.0, 110966.0, 39059.0, 22352.0, 124451.0, 59560.0, 49748.0, 56502.0, 23039.0, 34056.0, 87308.0, 69566.0, 59970.0, 50790.0, 42794.0, 26436.0, 10271.0, 40606.0, 18300.0, 11080.0, 33397.0, 48087.0, 61435.0, 25266.0, 71339.0, 56359.0, 38662.0, 32796.0, 66111.0, 57495.0, 48825.0, 67342.0, 53059.0, 42852.0, 39357.0, 116091.0, 41685.0, 92955.0, 51022.0, 61591.0, 65409.0, 143664.0, 19928.0, 86567.0, 27748.0, 56275.0, 48142.0, 45547.0, 60474.0, 33387.0, 27481.0, 22940.0, 76545.0, 33842.0, 56904.0, 142554.0, 73829.0, 57462.0, 72898.0, 45872.0, 70541.0, 117220.0, 33213.0, 35452.0, 118777.0, 21833.0, 6

In [225]:
import mysql.connector
import pandas as pd

# insérer les données du fichier excel Type_Vols dans la table Flight_features
cursor = conn.cursor()
        
# Préparer la requête SQL d'insertion
insert_query = """
    INSERT INTO flight(ID_Flight, Airport_Code_Dep, Airport_Code_Arr, ID_Date, ID_FlightType, Delay_Minute, nb_passengers_Economy, nb_passengers_PremEconomy, nb_passengers_Business, nb_passengers_FirstClass, nb_passengers_Flight, Flight_Income)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
        """

# Préparer les données pour la requête
for index, row in excel_data_Tunisair.iterrows():
    # Récupérer les valeurs des colonnes du fichier Excel
    ID_Flight = row['Flight_ID']
    Airport_Code_Dep = row['Departure_Station']
    Airport_Code_Arr = row['Arrival_Station']
    ID_Date = row['Date']
    ID_FlightType = row['ID_FlightType']
    Delay_Minute = row['Delay_Minute']
    nb_passengers_Economy = row['Passengers_Number_economy']
    nb_passengers_PremEconomy = row['Passengers_Number_PREMeconomy']
    nb_passengers_Business = row['Passengers_Number_Business']
    nb_passengers_FirstClass = row['Passengers_Number_FirstClass']

    nb_passengers = nb_passengers_Economy + nb_passengers_PremEconomy + nb_passengers_Business + nb_passengers_FirstClass
    result=get_price(Airport_Code_Arr)
    if result:
        Flight_Income = (nb_passengers_Economy * result['Economy_Price'] +
                            nb_passengers_PremEconomy * result['PremEconomy_Price'] +
                            nb_passengers_Business * result['Business_Price'] +
                            nb_passengers_FirstClass * result['FirstClass_Price'])
    
    data = (ID_Flight, Airport_Code_Dep, Airport_Code_Arr, ID_Date, ID_FlightType, Delay_Minute,
            nb_passengers_Economy, nb_passengers_PremEconomy, nb_passengers_Business, nb_passengers_FirstClass,
            nb_passengers, Flight_Income)
    
    # Exécuter la requête d'insertion
    cursor.execute(insert_query, data)

# Commit pour valider les changements
conn.commit()
print(f"Les Données  sont  insérées avec succès dans la table Fait flight !")

Les Données  sont  insérées avec succès dans la table Fait flight !

In [206]:
conn.close()